.dashboard-layout__crud__grid {
    display: grid;
    width: var(--dashboard-ancho-contenido);
    height: var(--dashboard-alto-contenido);
    grid-template-rows: 15dvh 70dvh 5dvh;
    grid-template-areas:
        "dashboard-layout__crud__grid__busqueda dashboard-layout__crud__grid__acciones"
        "dashboard-layout__crud__grid__tabla dashboard-layout__crud__grid__tabla"
        "dashboard-layout__crud__grid__paginador dashboard-layout__crud__grid__paginador"
}

/* en el dashboard, si es movil se esconde la barra lateral,
por tanto el ancho ahora no sería el ancho normal sino 100dvw*/
@media (min-width: 1000px) {
    .dashboard-layout__crud__grid {
        grid-template-columns: var(--dashboard-ancho-contenido)/2 var(--dashboard-ancho-contenido)/2;
    }
}

@media (max-width: 1000px) {
    .dashboard-layout__crud__grid {
        grid-template-columns: 50dvw 50dvw;
    }
}

.dashboard-layout__crud__grid__busqueda{
    display: grid;
    width: auto;
    margin-left: 5dvw;
    margin-right: 5dvw;
    grid-area: dashboard-layout__crud__grid__busqueda;
}

.dashboard-layout__crud__grid__busqueda__flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


.dashboard-layout__crud__grid__acciones {
    display: grid;
    margin: auto;
    width: auto;
    margin-left: 5dvw;
    margin-right: 5dvw;
    place-items: center;
    justify-items: end;
    grid-area: dashboard-layout__crud__grid__acciones;
}

.layout__crud__grid__acciones__btn-accion {
    display: flex;
    justify-content: center;
    align-items: center;
}


.dashboard-layout__crud__grid__tabla {
    display: grid;
    place-items: start;
    justify-items: start;
    width: auto;
    margin-left: 5dvw;
    margin-right: 5dvw;

    overflow: scroll;
    grid-area: dashboard-layout__crud__grid__tabla;
}

.dashboard-layout__crud__grid__tabla table {
    min-width: 100%;
    max-width: 100%;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    white-space: nowrap;
}


.dashboard-layout__crud__grid__paginador {
    display: grid;
    grid-area: dashboard-layout__crud__grid__paginador;
}

.dashboard-layout__crud__grid__paginador__flex {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

}
