:root {
    --dashboard-ancho-contenido: 80dvw;
    --dashboard-alto-contenido: 90dvh;
    --dashboard-ancho-barra-lateral: 20dvw;
    --dashboad-alto-barra-superior-top: 10dvh;
    --dashboad-alto-barra-superior-bot: 90dvh;
}

.dashboard-layout__grid {
    display: grid;
    height: 100%;
    width: 100%;
}

@media (min-width: 1000px) {
    .dashboard-layout__grid {
        grid-template-columns: var(--dashboard-ancho-barra-lateral) var(--dashboard-ancho-contenido);
        grid-template-rows: var(--dashboad-alto-barra-superior-top) var(--dashboard-alto-contenido);
        grid-template-areas:
            "dashboard-layout__grid__barra-lateral__cabezera dashboard-layout__grid__barra-superior"
            "dashboard-layout__grid__barra-lateral__contenido dashboard-layout__grid__contenido";
    }
}

@media (max-width: 1000px) {
    .dashboard-layout__grid {
        grid-template-columns: 100dvw;
        grid-template-rows: var(--dashboad-alto-barra-superior-top) var(--dashboard-alto-contenido);
        grid-template-areas:
            "dashboard-layout__grid__barra-superior"
            "dashboard-layout__grid__contenido";
    }

    .dashboard-layout__grid__barra-lateral__cabezera{
        position: fixed;
        visibility: hidden;
        display: none;
    }

    .dashboard-layout__grid__barra-lateral__contenido{
        position: fixed;
        visibility: hidden;
        display: none;
    }
}

.dashboard-layout__grid__barra-lateral__cabezera {
    display: grid;
    place-items: center;
    grid-area: dashboard-layout__grid__barra-lateral__cabezera;
    background-color: #29568a;
}

.dashboard-layout__grid__barra-lateral__cabezera img {
    width: 16dvw;
    height: 8dvh;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
}

.dashboard-layout__grid__barra-lateral__contenido {
    display: grid;
    grid-area: dashboard-layout__grid__barra-lateral__contenido;
    background-color: #29568a;
}

.dashboard-layout__grid__barra-lateral__contenido_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-layout__grid__barra-lateral__contenido__entry  {
    color: white;
    display: flex;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: start;
    align-items: center;
    height: 10dvh;
}

.dashboard-layout__grid__barra-lateral__contenido__entry img {
    margin-right: 10px; /* Espacio a la derecha de la imagen */
}



.dashboard-layout__grid__barra-superior {
    display: grid;
    place-items: center;
    grid-area: dashboard-layout__grid__barra-superior;
    background-color: #f48e2d;
}

.dashboard-layout__grid__contenido {
    display: grid;
    grid-area: dashboard-layout__grid__contenido;
}
