.dashboard-layout__crud__grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 2fr 15fr 1fr;
    grid-template-areas:
        "dashboard-layout__crud__grid__busqueda dashboard-layout__crud__grid__acciones"
        "dashboard-layout__crud__grid__tabla dashboard-layout__crud__grid__tabla"
        "dashboard-layout__crud__grid__paginador dashboard-layout__crud__grid__paginador"
}


.dashboard-layout__crud__grid__busqueda{
    width: 80%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-area: dashboard-layout__crud__grid__busqueda;
}


.dashboard-layout__crud__grid__acciones {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 80%;
    grid-area: dashboard-layout__crud__grid__acciones;
}


.dashboard-layout__crud__grid__tabla {
    background-color: yellow;
    display: grid;
    grid-area: dashboard-layout__crud__grid__tabla;
}


.dashboard-layout__crud__grid__paginador {
    background-color: #4b5563;
    display: grid;
    grid-area: dashboard-layout__crud__grid__paginador;
}
