* {
    margin: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Lato', arial, helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Bitter', arial, helvetica, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 100%;
}

h6 {
    font-size: 80%;
}

p,select,input,label, button {
    color: #666;
    font-size: 100%;
    font-weight: 500;
}

@media (min-width: 768px) {
    body {
        font-size: 90%;
    }

}

@media (min-width: 992px) {
    body {
        font-size: 110%;
    }

}

@media (min-width: 1200px) {
    body {
        font-size: 110%;
    }

}


body {
    display: grid;
    place-items: center;
    min-width: 100dvw;
    max-width: 100dvw;
    max-height: 100dvh;
    min-height: 100dvh;
    overflow: hidden;;
}

label {
    font-weight: bold;
}

p {
    text-align: justify;
}
