.tabla {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.tabla__contenido {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 75vh;
    min-height: 75vh;
    max-height: 75vh;
    overflow: scroll;
}


.tabla__contenido table {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.tabla__contenido table th,
.tabla__contenido table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    white-space: nowrap;
}

.tabla__contenido table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.tabla__paginador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    min-height: 5vh;
    max-height: 5vh;
}
